.top {
  overflow: hidden;
}
.top-c-container, .top-c-title-container, .top-c-cards-container {
  margin-left: auto;
  margin-right: auto;
}
.top-c-container {
  max-width: 960px;
  padding-left: 8px;
  padding-right: 8px;
}
.top-c-title-container, .top-c-cards-container {
  max-width: 884px;
}
.top-c-card {
  background-color: white;
  border: 1px solid #919191;
  line-height: 1.35;
  width: 138px;
}
.top-c-card-more {
  align-items: center;
  border: none;
  color: #ff8d1a;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  height: 206.586px;
  justify-content: center;
  justify-items: center;
}
.top-c-card-more p {
  margin-top: 8px;
}
.top-c-card-item-name {
  margin-top: 4px;
  text-decoration: underline;
}
.top-c-card-block {
  padding: 8px 4px;
}
.top-c-card-block--badge {
  align-items: center;
  display: flex;
  justify-content: center;
}
.top-c-card-block--badge dl {
  margin-left: 4px;
  width: calc(100% - 30px - 4px);
}
.top-c-card-block-badge {
  width: 30px;
}
.top-c-container-ico {
  align-items: center;
  display: flex;
  justify-content: center;
}
.top-c-container-ico-white {
  height: 25px;
  width: 25px;
}
.top-c-container-ico-arrow {
  height: 37px;
  width: 23px;
}
.top-c-container-ico-category {
  height: 42px;
  width: 36px;
}
.top-c-container-ico-rank {
  height: 32px;
  width: 30px;
}
.top-c-ico-white {
  max-width: 24px;
}
.top-c-ico-arrow {
  width: 40px !important;
}
.top-c-ico-category {
  max-width: 38px;
}
.top-c-ico-rank {
  max-width: 30px;
}
.top-c-scroll-row {
  margin-top: 16px;
  overflow-x: auto;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
}
.top-c-scroll-row::-webkit-scrollbar {
  display: none;
}
.top-c-scroll-row li:last-of-type {
  margin-right: 8px;
}
.top-c-lead {
  font-size: 14px;
  margin-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.top-c-lead-ico {
  background-color: #ffc33b;
  border-radius: 9999px;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin-right: 6px;
  margin-top: -3px;
  padding: 3px 6px 3px;
  vertical-align: middle;
}
.top-p-ranking .p-project-lists {
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 16px;
  white-space: inherit;
}
@media screen and (min-width: 375px) {
  .top-p-ranking .p-project-lists {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .top-p-ranking .p-project-lists {
    max-width: 740px;
  }
}
.top-p-ranking__card {
  font-size: 10px;
  margin-top: 8px;
  width: 140px;
}
@media screen and (min-width: 375px) {
  .top-p-ranking__card {
    font-size: 12px;
    width: 167px;
  }
}
.top-p-ranking__more {
  height: 216.586px;
}
@media screen and (min-width: 375px) {
  .top-p-ranking__more {
    height: 243.586px;
  }
}
.top-p-category-nav {
  padding-bottom: 16px;
}
.top-p-category-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.top-p-category-nav li {
  padding-left: 2px;
  padding-right: 2px;
}
.top-p-category-nav-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 265px;
}
@media screen and (min-width: 375px) {
  .top-p-category-nav-container {
    max-width: 343px;
  }
}
@media screen and (min-width: 768px) {
  .top-p-category-nav-container {
    max-width: 629px;
  }
}
.top-p-category-nav-card {
  align-items: center;
  background-color: white;
  border: 1px solid #919191;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  height: 83px;
  justify-content: center;
  margin-top: 4px;
  width: 83px;
}
.top-p-category-nav-card p {
  margin-top: 4px;
}
.top .mySwiper {
  max-width: 638px;
  overflow: initial;
  padding-bottom: 30px;
}
.top .mySwiper .swiper-slide {
  text-align: center;
}
.top .mySwiper2 {
  font-size: 14px;
  margin-top: 16px;
  padding-left: 4px;
}
.top .mySwiper2 .swiper-slide {
  padding-bottom: 4px;
  width: auto;
}
.top .mySwiper2 .swiper-slide-active {
  border-bottom: 2px solid #ffc33b;
  color: #ffc33b;
}
.top .mySwiper3 {
  max-width: 320px;
}
@media screen and (min-width: 375px) {
  .top .mySwiper3 {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .top .mySwiper3 {
    max-width: 740px;
  }
}
.top .swiper {
  height: 100%;
  width: 100%;
}
.top .swiper-slide {
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.top .swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.top .swiper-slide-next,
.top .swiper-slide-prev {
  opacity: 0.8;
}
.top .swiper-pagination-bullet {
  background-color: #ffc33b;
}
.top .icon_type_2 {
  background-color: #ffc33b;
  padding: 5px 16px;
}
.top .icon_type_2 .otodoke-sort {
  background-color: #ff8d1a;
  box-shadow: none;
  right: 0;
}
.top .c-section-first {
  background-color: #ffc33b;
  border: none;
  box-shadow: none;
}
.top .p-project-lists {
  border: none;
}
.top .p-project-lists li {
  display: inline-block;
  float: none;
  margin-left: 8px;
  vertical-align: bottom;
  width: inherit;
}
.top .p-project-lists li {
  font-size: 12px;
  white-space: initial;
}
.top .p-project-list {
  border: none;
}
.top .c-section-first {
  margin: 10px 0;
}
.top .c-tabnavigation {
  margin: 8px 0 10px;
}
.top .icon_type_2 .icon_2 {
  font-size: 0;
}
