/* reset */
.p-global-nav__wrapper {
  height: auto;
  border-bottom: none;
}

/* /reset */
.sort {
  text-align: right;
  height: 40px;
  width: 38px;
  background-color: initial;
  position: fixed;
  right: 10px;
}

.sort_image {
  height: 40px;
  width: 38px;
}

.sort_list {
  text-align: left;
}

.sort_check {
  font-size: 62px;
  position: initial !important;
  opacity: initial !important;
  vertical-align: initial !important;
}

.p-project-lists__dl dt {
  padding-top: 1px !important;
  color: #434343;
}

.mora-banner {
  width: 100% !important;
}

#content_mora {
  display: none;
}

.p-project-list--mora dt {
  overflow: unset !important;
  float: unset !important;
}

/* タブナビゲーションのスタイル */
.tab-nav-item {
  cursor: pointer;
  transition:
    color 0.3s,
    border-bottom 0.3s;
}
.tab-nav-item.active {
  color: #e74224;
  border-bottom: 3px solid #e74224;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.p-global-nav__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-global-nav__menu {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 20px 0 17px;
  border-bottom: 3px solid transparent;
  transition:
    color 0.3s,
    border-bottom 0.3s;
}


/* Swiper */

/* ===== pass_monitor.css ===== */
.c-label-2 {
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  padding: 2px 5px 2px;
  color: #fff;
}
.c-label-2.c-label-2--new {
  background-color: #ff451f;
}
.c-label-2.c-label-2--favorite {
  background-color: #142b88;
}
.c-label-2.c-label-2--few {
  background-color: #1CC1CC;
}

.icon_type_2 {
  background-color: #EFC362;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 18px;
  position: relative;
}
.icon_type_2 p {
  display: inline-block;
  vertical-align: middle;
}

.p-project-lists {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #d2d2d2;
}
.p-project-lists img {
  width: 100%;
  height: auto;
}
.p-project-lists li {
  width: 100%;
}
@media (min-width: 320px) {
  .p-project-lists li {
    float: left;
    width: 33.3333333333%;
  }
}
@media (min-width: 480px) {
  .p-project-lists li {
    float: left;
    width: 33.3333333333%;
  }
}
@media (min-width: 640px) {
  .p-project-lists li {
    float: left;
    width: 25%;
  }
}
@media (min-width: 800px) {
  .p-project-lists li {
    float: left;
    width: 25%;
  }
}
@media (min-width: 960px) {
  .p-project-lists li {
    float: left;
    width: 20%;
  }
}

.p-project-lists__thumbnail-wrap {
  position: relative;
}
.p-project-lists__thumbnail-wrap .c-label-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.p-project-lists__thumbnail-wrap h2 {
  font-size: 0 !important;
}

.p-project-lists__thumbnail-wrap__2 {
  position: relative;
}
.p-project-lists__thumbnail-wrap__2 h2 {
  font-size: 0 !important;
}

/* ===== t.css ===== */
.top {
  overflow: hidden;
}
 .top-c-title-container, .top-c-cards-container {
  margin-left: auto;
  margin-right: auto;
}
.top-c-title-container, .top-c-cards-container {
  max-width: 884px;
}
.top-c-card {
  background-color: white;
  border: 1px solid #919191;
  line-height: 1.35;
  width: 138px;
}
.top-c-card-more {
  align-items: center;
  border: none;
  color: #ff8d1a;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  height: 206.586px;
  justify-content: center;
  justify-items: center;
}
.top-c-card-more p {
  margin-top: 8px;
}
.top-c-card-item-name {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  min-height: 32px;
  text-decoration: underline;
}
.top-c-card-block {
  padding: 8px 4px;
}
.top-c-card-block--badge {
  align-items: center;
  display: flex;
  justify-content: center;
}
.top-c-card-block--badge dl {
  margin-left: 4px;
  width: calc(100% - 30px - 4px);
}
.top-c-card-block-badge {
  width: 30px;
}
.top-c-container-ico {
  align-items: center;
  display: flex;
  justify-content: center;
}
.top-c-container-ico-white {
  height: 25px;
  width: 25px;
}
.top-c-container-ico-arrow {
  height: 37px;
  width: 23px;
}
.top-c-container-ico-rank {
  height: 32px;
  width: 30px;
}
.top-c-ico {
  height: auto;
}
.top-c-ico-white {
  max-width: 24px;
}
.top-c-ico-arrow {
  width: 40px !important;
}
.top-c-ico-rank {
  max-width: 30px;
}
.top-p-ranking .p-project-lists {
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 16px;
  white-space: inherit;
}
@media (min-width: 375px) {
  .top-p-ranking .p-project-lists {
    max-width: 375px;
  }
}
@media (min-width: 768px) {
  .top-p-ranking .p-project-lists {
    max-width: 740px;
  }
}
.top-p-ranking__card {
  font-size: 10px;
  margin-top: 8px;
  width: 140px;
}
@media (min-width: 375px) {
  .top-p-ranking__card {
    font-size: 12px;
    width: 167px;
  }
}
.top-p-ranking__more {
  height: 216.586px;
}
@media (min-width: 375px) {
  .top-p-ranking__more {
    height: 243.586px;
  }
}
.top .mySwiper2 {
  font-size: 14px;
  margin-top: 16px;
  padding-left: 4px;
}
.top .mySwiper2 .swiper-slide {
  padding-bottom: 4px;
  width: auto;
}
.top .mySwiper3 {
  max-width: 320px;
}
@media (min-width: 375px) {
  .top .mySwiper3 {
    max-width: 375px;
  }
}
@media (min-width: 768px) {
  .top .mySwiper3 {
    max-width: 740px;
  }
}
.top .swiper {
  height: 100%;
  width: 100%;
}
.top .swiper-slide {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
}
.top .swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.top .icon_type_2 {
  background-color: #ffc33b;
  padding: 5px 16px;
}
.top .p-project-lists {
  /* border: none; */
}
.p-project-list {
}

.top .p-project-lists li {
  display: inline-block;
  float: none;
  vertical-align: bottom;

}
.top .p-project-lists li {
  font-size: 12px;
  white-space: initial;

}


/* ===== top.css ===== */
.top {
  overflow: hidden;
}
 .top-c-title-container, .top-c-cards-container {
  margin-left: auto;
  margin-right: auto;
}
.top-c-title-container, .top-c-cards-container {
  max-width: 884px;
}
.top-c-card {
  background-color: white;
  border: 1px solid #919191;
  line-height: 1.35;
  width: 138px;
}
.top-c-card-more {
  align-items: center;
  border: none;
  color: #ff8d1a;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  height: 206.586px;
  justify-content: center;
  justify-items: center;
}
.top-c-card-more p {
  margin-top: 8px;
}
.top-c-card-item-name {
  margin-top: 4px;
  text-decoration: underline;
}
.top-c-card-block {
  padding: 8px 4px;
}
.top-c-card-block--badge {
  align-items: center;
  display: flex;
  justify-content: center;
}
.top-c-card-block--badge dl {
  margin-left: 4px;
  width: calc(100% - 30px - 4px);
}
.top-c-card-block-badge {
  width: 30px;
}
.top-c-container-ico {
  align-items: center;
  display: flex;
  justify-content: center;
}
.top-c-container-ico-white {
  height: 25px;
  width: 25px;
}
.top-c-container-ico-arrow {
  height: 37px;
  width: 23px;
}
.top-c-container-ico-rank {
  height: 32px;
  width: 30px;
}
.top-c-ico-white {
  max-width: 24px;
}
.top-c-ico-arrow {
  width: 40px !important;
}
.top-c-ico-rank {
  max-width: 30px;
}
.top-p-ranking .p-project-lists {
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 16px;
  white-space: inherit;
}
@media (min-width: 375px) {
  .top-p-ranking .p-project-lists {
    max-width: 375px;
  }
}
@media (min-width: 768px) {
  .top-p-ranking .p-project-lists {
    max-width: 740px;
  }
}
.top-p-ranking__card {
  font-size: 10px;
  margin-top: 8px;
  width: 140px;
}
@media (min-width: 375px) {
  .top-p-ranking__card {
    font-size: 12px;
    width: 167px;
  }
}
.top-p-ranking__more {
  height: 216.586px;
}
@media (min-width: 375px) {
  .top-p-ranking__more {
    height: 243.586px;
  }
}
.top .mySwiper2 {
  font-size: 14px;
  margin-top: 16px;
  padding-left: 4px;
}
.top .mySwiper2 .swiper-slide {
  padding-bottom: 4px;
  width: auto;
}
.top .mySwiper3 {
  max-width: 320px;
}
@media (min-width: 375px) {
  .top .mySwiper3 {
    max-width: 375px;
  }
}
@media (min-width: 768px) {
  .top .mySwiper3 {
    max-width: 740px;
  }
}
.top .swiper {
  height: 100%;
  width: 100%;
}
.top .swiper-slide {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
}
.top .swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.top .icon_type_2 {
  background-color: #ffc33b;
  padding: 5px 16px;
}
.top .p-project-lists {
  width: 100%;
}
.top .p-project-lists li {
  display: inline-block;
  float: none;
  vertical-align: bottom;

}
.top .p-project-lists li {
  font-size: 12px;
  white-space: initial;
}

/* /Swiper */
