/* reset */
.p-global-nav__wrapper {
  height: auto;
  border-bottom: none;
}

/* /reset */
.sort {
  text-align: right;
  height: 40px;
  width: 38px;
  background-color: initial;
  position: fixed;
  right: 10px;
}
.p-global-nav--sticky {
  z-index: 2;
}

.sort_list {
  text-align: left;
}

.sort_check {
  font-size: 62px;
  position: initial !important;
  opacity: initial !important;
  vertical-align: initial !important;
}

.p-project-lists__dl dt {
  padding-top: 1px !important;
  color: #434343;
}

/* タブナビゲーションのスタイル */
.tab-nav-item {
  cursor: pointer;
  transition:
    color 0.3s,
    border-bottom 0.3s;
}
.tab-nav-item.active {
  color: #e74224;
  border-bottom: 3px solid #e74224;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.p-global-nav__menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-global-nav__menu {
  cursor: pointer;
  width: 100%;
  text-align: center;
  padding: 20px 0 17px;
  border-bottom: 3px solid transparent;
  transition:
    color 0.3s,
    border-bottom 0.3s;
}

/* Swiper */

/* ===== pass_monitor.css ===== */
.c-label-2 {
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  padding: 2px 5px 2px;
  color: #fff;
}
.c-label-2.c-label-2--new {
  background-color: #ff451f;
}
.c-label-2.c-label-2--favorite {
  background-color: #142b88;
}
.c-label-2.c-label-2--few {
  background-color: #1cc1cc;
}

.p-project-lists {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #d2d2d2;
}
.p-project-lists img {
  width: 100%;
  height: auto;
}
.p-project-lists li {
  width: 100%;
}
@media (min-width: 320px) {
  .p-project-lists li {
    float: left;
    width: 33.3333333333%;
  }
}
@media (min-width: 480px) {
  .p-project-lists li {
    float: left;
    width: 33.3333333333%;
  }
}
@media (min-width: 640px) {
  .p-project-lists li {
    float: left;
    width: 25%;
  }
}
@media (min-width: 800px) {
  .p-project-lists li {
    float: left;
    width: 25%;
  }
}
@media (min-width: 960px) {
  .p-project-lists li {
    float: left;
    width: 20%;
  }
}

.p-project-lists__thumbnail-wrap {
  position: relative;
}
.p-project-lists__thumbnail-wrap .c-label-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.p-project-lists__thumbnail-wrap h2 {
  font-size: 0 !important;
}

/* ===== top.css ===== */
.top {
  overflow: hidden;
}
.top-c-cards-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 884px;
}
.mySwiper2 {
  font-size: 14px;
  background-color: #e2f0f8;
  color: #a5cbe8;
  max-width: 740px;
}
.mySwiper2 .swiper-slide {
  padding-top: 14px;
  padding-bottom: 12px;
  line-height: 1;
  width: auto;
}
.mySwiper2 .swiper-slide-active {
  color: #3c98d3;
  font-weight: bold;
}
.mySwiper3 {
  max-width: 320px;
}
@media (min-width: 375px) {
  .mySwiper3 {
    max-width: 375px;
  }
}
@media (min-width: 768px) {
  .mySwiper3 {
    max-width: 740px;
  }
}
.swiper {
  height: 100%;
  width: 100%;
}
.swiper-slide {
  align-items: center;
  display: flex;
  justify-content: center;
}
.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.top .p-project-lists {
  width: 100%;
}
.top .p-project-lists li {
  display: inline-block;
  float: none;
  vertical-align: bottom;
  font-size: 12px;
  white-space: initial;
}

/* /Swiper */
