html,
body,
div,
span,
h2,
p,
a,
img,
var,
dl,
dt,
ul,
li,
section {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

body {
  background: #fff;
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}
